mixin main-screen()
  .main-screen
    .main-screen__bg-1
    .main-screen__bg-2
    .main-screen__bg-3
    .main-screen__bg-4
    .main-screen__bg-5
    .main-screen__bg-6

    .container
      .main-screen__content
        .main-screen__text
          h1.main-screen__title.title.title--h1 IT CRON
          p.main-screen__paragraph Проектно-продуктовый подход к&nbsp;оказанию IT-услуг
        ul.main-screen__social
          li
            a(href="#")
              +icon("icon-facebook", 72, 72)
          li
            a(href="#")
              +icon("icon-instagram", 72, 72)
          li
            a(href="#")
              +icon("icon-linkedin", 72, 72)
          li
            a(href="#")
              +icon("icon-telegram", 72, 72)
