.header {
  padding: 80px 0 56px;
  position: absolute;
  width: 100%;
  z-index: 1000;

  background-color: transparent;
  color: white;

  .container {
    display: flex;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 120px;
  }
}
