mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Кейсы"
      },
      {
        href: "#",
        text: "Компания"
      },
      {
        href: "#",
        text: "Услуги"
      },
      {
        href: "#",
        text: "Контакты"
      },

    ]

  header.header(class=headerMods)
    .container
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-dots", 50, 10)
