doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Tset task IT CRON")
    if (openGraf)
      //- Обязательно измените содержание контента на тот что необходим!
      //- Введите заголовок
      meta(property="og:title", content="test task")
      //- Введите необходимый тип
      meta(property="og:type", content="test task")
      //- Введите адрес сайта
      meta(property="og:url", content="https://24fortest.ru/")
      //- Введите описание
      meta(property="og:description", content="Тестовое задание IT CRON")

    link(rel="stylesheet", href="css/style.min.css")

  body
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

